<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <!-- Link CSS files -->
    <link rel="stylesheet" href="{{ asset('public/scss/templates/_main.scss') }}">
    <link rel="stylesheet" href="{{ asset('public/scss/templates/_navigation.scss') }}">
    <link rel="stylesheet" href="{{ asset('public/scss/_buttons.scss') }}">
    <link rel="stylesheet" href="{{ asset('public/scss/_common.scss') }}">
    <link rel="stylesheet" href="{{ asset('public/scss/_mixins.scss') }}">
    <link rel="stylesheet" href="{{ asset('public/scss/_typography.scss') }}">
    <link rel="stylesheet" href="{{ asset('public/scss/_variables.scss') }}">
    <link rel="stylesheet" href="{{ asset('public/scss/style.scss') }}">
    <link rel="stylesheet" href="{{ asset('public/plugins/air-datepicker/dist/css/datepicker.css') }}">
    <link rel="stylesheet" href="{{ asset('public/plugins/air-datepicker/dist/css/datepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('public/plugins/apexcharts/apexcharts.css') }}">
    <link rel="stylesheet" href="{{ asset('public/plugins/animate-css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('public/plugins/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('public/plugins/bootstrap/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('public/plugins/colorbox/colorbox.css') }}">
    <link rel="stylesheet" href="{{ asset('public/plugins/fontawesome/css/all.css') }}">
    <link rel="stylesheet" href="{{ asset('public/plugins/fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('public/plugins/slick/slick-theme.css') }}">
    <link rel="stylesheet" href="{{ asset('public/plugins/slick/slick.css') }}">
</head>
<body>
<div class="banner-carousel banner-carousel-1 mb-0">
  <div class="banner-carousel-item" style="background-image:url(cimenterie.jpg)">
    <div class="slider-content">
        <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-md-12 text-center">
                <h2 class="slide-title" data-animation-in="slideInLeft">51 Ans d'excellence en</h2>
                <h3 class="slide-sub-title" data-animation-in="slideInRight">fabrication des ciments</h3>
                <p data-animation-in="slideInLeft" data-duration-in="1.2">
                    <a href="services.html" class="slider btn btn-primary">Nos Services</a>
                    <a href="contact.html" class="slider btn btn-primary border">Contact Now</a>
                </p>
              </div>
          </div>
        </div>
    </div>
  </div>

  <div class="banner-carousel-item" style="background-image:url(cimenterie1.jpg)">
    <div class="slider-content text-left">
        <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-md-12">
<h2 class="slide-title-box" data-animation-in="slideInDown">Service de Classe Mondiale</h2>
<h3 class="slide-title" data-animation-in="fadeIn">Quand le Service Compte</h3>
<h3 class="slide-sub-title" data-animation-in="slideInLeft">Votre Choix est Simple</h3>
<p data-animation-in="slideInRight">
    <a href="services.html" class="slider btn btn-primary border">Nos Services</a>
                </p>
              </div>
          </div>
        </div>
    </div>
  </div>

  <div class="banner-carousel-item" style="background-image:url(c2.jpg)">
    <div class="slider-content text-right">
        <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-md-12">
               <h2 class="slide-title" data-animation-in="slideInDown">Rencontrez Nos Ingénieurs</h2>
<h3 class="slide-sub-title" data-animation-in="fadeIn">Nous croyons en la durabilité</h3>
<p class="slider-description lead" data-animation-in="slideInRight">Nous gérerons votre échec, ce qui déterminera comment vous réussirez.</p>
<div data-animation-in="slideInLeft">
    <a href="contact.html" class="slider btn btn-primary" aria-label="contactez-nous">Obtenez un Devis Gratuit</a>
    <a href="about.html" class="slider btn btn-primary border" aria-label="en-savoir-plus-sur-nous">En savoir plus</a>
</div>

              </div>
          </div>
        </div>
    </div>
  </div>
</div>

<section class="call-to-action-box no-padding">
  <div class="container">
    <div class="action-style-box">
        <div class="row align-items-center">
          <div class="col-md-8 text-center text-md-left">
              <div class="call-to-action-text">
                <h3 class="action-title">Nous comprenons vos besoins en ciments</h3>
              </div>
          </div><!-- Col end -->
          <div class="col-md-4 text-center text-md-right mt-3 mt-md-0">
              <div class="call-to-action-btn">
                <a class="btn btn-dark" href="#">Demander un Devis</a>
              </div>
          </div><!-- col end -->
        </div><!-- row end -->
    </div><!-- Action style box -->
  </div><!-- Container end -->
</section><!-- Action end -->

<section id="ts-features" class="ts-features">
  <div class="container">
    <div class="row">
        <div class="col-lg-6">
          <div class="ts-intro">
          <h2 class="into-title">À Propos de Nous</h2>
<h3 class="into-sub-title">Nous réalisons des projets emblématiques</h3>
<p>Nous sommes une question rhétorique qui a couru sur sa joue. Lorsqu'elle a atteint les premières collines des montagnes italiques,
elle a eu une dernière vue sur l'horizon de sa ville natale Bookmarksgrove, le titre du village Alphabet et la sous-ligne de sa propre route, la Ligne Lane.</p>

          </div><!-- Intro box end -->

          <div class="gap-20"></div>

          <div class="row">
              <div class="col-md-6">
                <div class="ts-service-box">
                    <span class="ts-service-icon">
                      <i class="fas fa-trophy"></i>
                    </span>
                    <div class="ts-service-box-content">
<h3 class="service-box-title">Nous avons une Réputation d'Excellence</h3>                    </div>
                </div><!-- Service 1 end -->
              </div><!-- col end -->

              <div class="col-md-6">
                <div class="ts-service-box">
                    <span class="ts-service-icon">
                      <i class="fas fa-sliders-h"></i>
                    </span>
                    <div class="ts-service-box-content">
<h3 class="service-box-title">Nous Construisons des Partenariats</h3>
                    </div>
                </div><!-- Service 2 end -->
              </div><!-- col end -->
          </div><!-- Content row 1 end -->

          <div class="row">
              <div class="col-md-6">
                <div class="ts-service-box">
                    <span class="ts-service-icon">
                      <i class="fas fa-thumbs-up"></i>
                    </span>
                    <div class="ts-service-box-content">
<h3 class="service-box-title">Guidés par l'Engagement</h3>
                    </div>
                </div><!-- Service 1 end -->
              </div><!-- col end -->

              <div class="col-md-6">
                <div class="ts-service-box">
                    <span class="ts-service-icon">
                      <i class="fas fa-users"></i>
                    </span>
                    <div class="ts-service-box-content">
<h3 class="service-box-title">Une Équipe de Professionnels</h3>
                    </div>
                </div><!-- Service 2 end -->
              </div><!-- col end -->
          </div><!-- Content row 1 end -->
        </div><!-- Col end -->

        <div class="col-lg-6 mt-4 mt-lg-0">
          <h3 class="into-sub-title">Our Values</h3>
          <p>Minim Austin 3 wolf moon scenester aesthetic, umami odio pariatur bitters. Pop-up occaecat taxidermy street art, tattooed beard literally.</p>

          <div class="accordion accordion-group" id="our-values-accordion">
              <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Safety
                      </button>
                    </h2>
                </div>
              
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#our-values-accordion">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidata
                    </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingTwo">
                    <h2 class="mb-0">
                      <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Customer Service
                      </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#our-values-accordion">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidata
                    </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header p-0 bg-transparent" id="headingThree">
                    <h2 class="mb-0">
                      <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Integrity
                      </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#our-values-accordion">
                    <div class="card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidata
                    </div>
                </div>
              </div>
          </div>
          <!--/ Accordion end -->

        </div><!-- Col end -->
    </div><!-- Row end -->
  </div><!-- Container end -->
</section>

    <script src="{{ asset('public/plugins/jQuery/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $("#facts-counter").load("{{ asset('public/partials/blocks/facts-counter.htm') }}");
            $("#navigation-1").load("{{ asset('public/partials/blocks/navigation-1.htm') }}");
            $("#navigation-2").load("{{ asset('public/partials/blocks/navigation-2.htm') }}");
            $("#news").load("{{ asset('public/partials/blocks/news.htm') }}");
            $("#newsletter").load("{{ asset('public/partials/blocks/newsletter.htm') }}");
            $("#page-header").load("{{ asset('public/partials/blocks/page-header.htm') }}");
            $("#projects").load("{{ asset('public/partials/blocks/projects.htm') }}");
            $("#services-1").load("{{ asset('public/partials/blocks/services-1.htm') }}");
            $("#testomonial-n-clients").load("{{ asset('public/partials/blocks/testomonial-n-clients.htm') }}");
            $("#footer").load("{{ asset('public/partials/footer.htm') }}");
            $("#header").load("{{ asset('public/partials/header.htm') }}");
        });
    </script>

    <!-- Link JS files -->
    <script src="{{ asset('public/plugins/air-datepicker/dist/js/datepicker.js') }}"></script>
    <script src="{{ asset('public/plugins/air-datepicker/dist/js/datepicker.min.js') }}"></script>
    <script src="{{ asset('public/plugins/air-datepicker/dist/js/i18n/datepicker.cs.js') }}"></script>
    <script src="{{ asset('public/plugins/air-datepicker/dist/js/i18n/datepicker.da.js') }}"></script>
    <script src="{{ asset('public/plugins/air-datepicker/dist/js/i18n/datepicker.de.js') }}"></script>
    <script src="{{ asset('public/plugins/air-datepicker/dist/js/i18n/datepicker.en.js') }}"></script>
    <script src="{{ asset('public/plugins/air-datepicker/dist/js/i18n/datepicker.es.js') }}"></script>
    <script src="{{ asset('public/plugins/air-datepicker/dist/js/i18n/datepicker.fi.js') }}"></script>
    <script src="{{ asset('public/plugins/air-datepicker/dist/js/i18n/datepicker.fr.js') }}"></script>
    <script src="{{ asset('public/plugins/air-datepicker/dist/js/i18n/datepicker.hu.js') }}"></script>
    <script src="{{ asset('public/plugins/air-datepicker/dist/js/i18n/datepicker.nl.js') }}"></script>
    <script src="{{ asset('public/plugins/air-datepicker/dist/js/i18n/datepicker.pl.js') }}"></script>
    <script src="{{ asset('public/plugins/air-datepicker/dist/js/i18n/datepicker.pt-BR.js') }}"></script>
    <script src="{{ asset('public/plugins/air-datepicker/dist/js/i18n/datepicker.pt.js') }}"></script>
    <script src="{{ asset('public/plugins/air-datepicker/dist/js/i18n/datepicker.ro.js') }}"></script>
    <script src="{{ asset('public/plugins/air-datepicker/dist/js/i18n/datepicker.sk.js') }}"></script>
    <script src="{{ asset('public/plugins/air-datepicker/dist/js/i18n/datepicker.zh.js') }}"></script>
    <script src="{{ asset('public/plugins/apexcharts/apexcharts.min.js') }}"></script>
    <script src="{{ asset('public/plugins/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('public/plugins/datatables/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('public/plugins/datatables/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('public/plugins/datatables/js/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('public/plugins/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ asset('public/plugins/bootstrap/bootstrap.js') }}"></script>
    <script src="{{ asset('public/plugins/bootstrap/popper.min.js') }}"></script>
    <script src="{{ asset('public/plugins/colorbox/jquery.colorbox.js') }}"></script>
    <script src="{{ asset('public/plugins/slick/slick-animation.min.js') }}"></script>
    <script src="{{ asset('public/plugins/slick/slick.min.js') }}"></script>
    <script src="{{ asset('scripts/layout-settings.js') }}"></script>
    <script src="{{ asset('scripts/dashboard.js') }}"></script>
</body>
</html>